nav {
  top:0;
  display: flex;
  height: 120px;
  position: fixed;
  background-image: url("../images/header-bg.png");
  background-color: #d69921;
  color: #FFFF;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav span {
  font-family: "Bungee", sans-serif;
  font-size: 40px;
}

nav .text {
  margin: 1.5em;
}

@media (min-width: 1024px) {
  nav{
    background-color: #4056a1;
    background-image: none;
  }
}

